article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

main {
  display: block;
}

body {
  background: #217dbb;
  font-family: Raleway;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

a {
  color: #0092B4;
  text-decoration: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

li, ul {
  padding: 0;
}

li {
  margin: 0;
  margin-left: 20px;
}

ul {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.7;
  display: block;
  margin: 0 -20px;
  padding: 0 10px;
}
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-weight: normal;
  background: none;
}
h1[id^=method], h2[id^=method], h3[id^=method], h4[id^=method], h5[id^=method], h6[id^=method] {
  color: #db7734;
}
h1[id^=class], h2[id^=class], h3[id^=class], h4[id^=class], h5[id^=class], h6[id^=class] {
  color: #bb5f21;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: .4em;
  padding-bottom: .3em;
}

h1 {
  font-size: 2.5em;
  border-bottom: 7px solid #eab18b;
}

h2 {
  font-size: 2em;
  border-bottom: 5px solid #eab18b;
}

h3 {
  font-size: 1.5em;
  border-bottom: 2px solid #eab18b;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

hr {
  background: transparent url("/images/slice.png") repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
  margin: 15px 0;
}

a:hover {
  color: #D70036;
}

#logotitle {
  position: absolute;
  top: 73px;
  left: 60px;
  font-family: 'Lily Script One';
  font-size: 83px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
#logotitle i {
  font-size: 1.3em;
}
@media screen and (max-width: 1000px) {
  #logotitle {
    font-size: 50px;
    top: 62px;
    left: 38px;
  }
}

body > header main, body > main main, body > footer main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1000px) {
  body > header main, body > main main, body > footer main {
    width: 100%;
  }
}
body > header {
  background: #3498DB;
  line-height: 0;
  color: white;
  border-bottom: 17px solid #db7734;
}
body > header main {
  height: 125px;
  background: #217dbb;
  border-bottom: 17px solid #bb5f21;
  margin-bottom: -17px;
}
@media screen and (max-width: 1000px) {
  body > header main {
    height: 90px;
  }
}
body > header nav {
  position: absolute;
  top: 15px;
  right: 15px;
}
body > header nav a {
  display: inline-block;
  color: #217dbb;
  background: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  margin: 0 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 1px solid white;
}
body > header nav a:hover {
  background: #217dbb;
  color: white;
}
@media screen and (max-width: 1000px) {
  body > header nav a {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 700px) {
  body > header nav a {
    font-size: 15px;
    padding: 10px;
    margin: 0 2px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0;
    border-radius: 0 0 4px 4px;
  }
}
@media screen and (max-width: 640px) {
  body > header nav {
    top: 0;
  }
}
body > header svg {
  position: absolute;
  top: -20px;
  left: 0;
  width: 120px;
  height: 120px;
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
body > header svg path {
  fill: white;
}
@media screen and (max-width: 1000px) {
  body > header svg {
    width: 70px;
    height: 70px;
    top: 0px;
  }
}
body > main {
  background: #a6bfcf;
}
body > main main {
  min-height: 100%;
  padding: 10px 40px;
  background: white;
}
body > footer {
  margin-bottom: 40px;
  background: #217dbb;
  font-size: .9em;
}
body > footer main {
  text-align: center;
  color: white;
  padding: 10px 20px;
  background: #196090;
}
body > footer a {
  color: #CCF;
}

pre, code {
  background: bottom repeat-x rgba(223, 221, 221, 0.3);
  font-family: Consolas,"Courier New",Courier,monospace;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre {
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  font-size: .9em;
  padding: 22px;
  line-height: 1.4em;
  border-radius: 4px;
}
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  background: transparent;
  display: block;
  overflow: auto;
}

#content_struct {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #d3dfe7;
  font-size: 12px;
  line-height: 1.4em;
  float: right;
  margin-right: -30px;
  padding: 20px;
  padding-left: 0;
}
#content_struct ul, #content_struct li {
  list-style-type: lower-greek;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
#content_struct ul {
  padding-left: 20px;
  padding-top: 0;
}

/* * Github Badge * */
.github_badge {
  background-color: #db7734;
  overflow: hidden;
  /* top left corner */
  position: fixed;
  right: -3em;
  top: 2.5em;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
  box-shadow: 0 0 1em #888;
  z-index: 100;
}
.github_badge a {
  border: 1px solid white;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

@media screen and (max-width: 1100px) {
  .github_badge {
    display: none;
  }
}
